// @use "modal.scss";
// @use "wp-forms.scss";

html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100vw;
	box-sizing: border-box;
	/* Suavização de Fontes (Opcional, focado em Apple/Mac) */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	* {
		box-sizing: border-box;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	svg,
	img {
		vertical-align: middle;
		margin: 0 2px;
	}
}

.wp-block-read-more,
.wp-block-button__link {
	transition: all 0.3s ease;

	&:hover,
	&:active {
		opacity: 0.8;
	}

	&:focus {
		opacity: 0.4;
	}
	margin: 0 2px;
}

#header-main {
	.current-menu-item {
		.wp-block-pages-list__item__link {
			opacity: 0.4;
		}
	}

	.wp-block-pages-list__item__link {
		&:hover,
		&:active {
			opacity: 0.8;
		}

		&:focus {
			opacity: 0.4;
		}
	}
}

footer {
	margin-block-start: 0;
}

.wp-block-query-pagination {
	margin: 48px 0;
	// Estiliza tanto os números quanto o botão "Página anterior"
	a.page-numbers,
	a.wp-block-query-pagination-previous,
	a.wp-block-query-pagination-next,
	span.page-numbers {
		display: inline-block;
		text-decoration: none;
		background: transparent;
		border: 1px solid var(--wp--preset--color--aqua-500-padrao);
		color: var(--wp--preset--color--aqua-500-padrao);
		padding: 0.67em 1.33em;
		box-shadow: none;
		transition: all 0.3s ease-out;
		text-shadow: none !important;
		cursor: pointer;
		border-radius: 8px;

		// Estilo para a página atual (span)
		&.current {
			background-color: var(--wp--preset--color--cinza-50) !important;
			color: var(--wp--preset--color--cinza-300) !important;
			border-color: var(--wp--preset--color--cinza-400) !important;
			cursor: not-allowed;
		}

		&:hover {
			background-color: var(--wp--preset--color--aqua-50) !important;
			color: var(--wp--preset--color--aqua-700) !important;
			border-color: var(--wp--preset--color--aqua-700) !important;
			box-shadow: var(--wp--preset--shadow--padrao) !important;
		}

		&:active {
			background-color: var(--wp--preset--color--aqua-200) !important;
			transform: translateY(1px);
			box-shadow: none !important;
		}

		&:disabled,
		&.is-disabled {
			background-color: var(--wp--preset--color--cinza-50) !important;
			color: var(--wp--preset--color--cinza-300) !important;
			border-color: var(--wp--preset--color--cinza-400) !important;
			cursor: not-allowed;
		}
	}

	// Ajuste de espaçamento entre os itens
	.wp-block-query-pagination-numbers {
		display: flex;
		gap: 10px;
		margin: 0 10px;
	}
}

// PLUGINS
.safe-svg-cover svg {
	fill: none;
}

// UTILITIES
// Variável de breakpoint (ajuste conforme o grid do seu tema)
$breakpoint-mobile: 768px;

// Oculta elementos em telas pequenas (Celulares e Tablets em pé)
.hidden-mobile {
	@media (max-width: #{$breakpoint-mobile}) {
		display: none !important;
	}
}

// Oculta elementos em telas grandes (Computadores e Laptops)
.hidden-desktop {
	@media (min-width: #{$breakpoint-mobile + 1px}) {
		display: none !important;
	}
}

// NAV MOBILE

@media screen and (max-width: 767px) {
	.wp-block-navigation-link,
	.wp-block-navigation-item__label {
		font-size: 20px;
	}
	.wp-block-navigation__submenu-container {
		padding: 8px !important;
		margin: 0 !important;
		a {
			color: #888 !important;
		}
	}
}
