<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:post-date /-->
<!-- wp:post-content /-->
<!-- wp:latest-posts {"postsToShow":4,"displayPostDate":true} /-->
<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button">See My Popular
            Posts →</a></div>

    <div class="wp-block-button"><a class="wp-block-button__link wp-element-button">See My Popular
            Posts →</a></div>
</div>
<!-- /wp:button -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->