.is-style-primary .wp-block-button__link {
    border: 2px solid var(--wp--preset--color--new-amarelo-dark);
    background: var(--wp--preset--color--new-amarelo);
    color: var(--wp--preset--color--new-marrom);
    box-shadow: var(--wp--preset--shadow--start-default);
    transition: all ease-in .1s;
}

.is-style-primary .wp-block-button__link:hover {
    background: var(--wp--preset--color--new-amarelo-medium);
    box-shadow: var(--wp--preset--shadow--start-hover);
}

.is-style-primary .wp-block-button__link:active {
    background: var(--wp--preset--color--new-amarelo-dark);
    box-shadow: none;
}

.is-style-primary .wp-block-button__link:focus {
    border: 2px solid var(--wp--preset--color--new-amarelo-dark);
    color: var(--wp--preset--color--white);
    background: var(--wp--preset--color--new-amarelo-dark);
    box-shadow: none;
}

.is-style-primary img {
    vertical-align: -1px;
}